.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.main_menu {

	.navbar-brand {
		padding-top: 0rem;

		img {
			@media #{$small_mobile} {
				max-width: 150px;
			}

			@media #{$large_mobile} {
				max-width: 200px;
			}

			@media #{$tab_device} {
				max-width: 200px;
			}

			@media #{$medium_device} {
				max-width: 200px;
			}
		}
	}

	.navbar {
		padding: 0px;
	}

	.main-menu-item {

		ul {
			li .nav-link {
				color: $menu_color;
				font-size: 16px;
				padding: 38px 22px;
				font-family: $font_stack_1;
				text-transform: capitalize;
				&:hover{
					color: $btn_bg;
				}
				@media #{$small_mobile}{

				}
				@media #{$medium_device} {
					padding: 35px 16px;
				}
			}
		}
	}
}

.menu_fixed {
	position: fixed;
	z-index: 9999 !important;
	width: 100%;
	background-color: $white-color;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
	top: 0;
	.navbar-brand{
		img{
			max-width: 150px;
		}
	}
	.main-menu-item ul li .nav-link{
		padding: 25px 25px;
	}
	span {
		color: #000 !important;
	}
}

.dropdown-menu {}

.dropdown:hover {
	.dropdown-menu {
		display: block;
	}
}

.dropdown {
	.dropdown-menu {
		transition: all 0.5s;
		overflow: hidden;
		transform-origin: top center;
		transform: scale(1, 0);
		display: block;
		margin-top: 0px;
		border: 0px solid rgba(0, 0, 0, .15) !important;
		background-color: #fafafa;
	}
	.dropdown-item{
		text-transform: capitalize;
	}

	&:hover {
		.dropdown-menu {
			transform: scale(1);
		}
	}
}

@media #{$tab} {
	.main_menu_iner {
		padding: 20px 0px;
	}

	.navbar-light .navbar-toggler {
		border-color: transparent;
	}

	.navbar-collapse {
		z-index: 9999 !important;
		position: absolute;
		left: 0;
		top: 65px;
		width: 100%;
		background-color: $white-color;
		text-align: center !important;

	}

	.dropdown {
		.dropdown-menu {
			transform: scale(1, 0);
			display: none;
		}

		&:hover {
			.dropdown-menu {
				transform: scale(1);
				display: block;
			}
		}
	}

	.main_menu .main-menu-item {
		text-align: left !important;

		.nav-item {
			padding: 10px 15px !important;

			a {
				padding: 0 !important;
			}
		}
	}

}

.sub_menu {
	background-color: #eaefff;
	padding: 14px 0px;
	.sub_menu_right_content{
		a{
			color: $heading_color;
			margin: 15px;
			@media #{$small_mobile}{
				margin: 3px;
			}
		}
		i{
			color: $btn_bg;
			margin-right: 13px;
		}
		span{
			color: $base_color;
			margin-right: 20px;
		}
		@media #{$small_mobile}{
			text-align: center;
		}
		@media #{$large_mobile}{
			text-align: center;
		}
	}
	.sub_menu_social_icon{
		float: right;
		text-align: right;
		@media #{$small_mobile}{
			text-align: center;
			float: none;
			margin-top: 15px;
		}
		@media #{$large_mobile}{
			text-align: center;
			float: none;
			margin-top: 15px;
		}
		span{
			margin-left: 15px;
			color: $heading_color;
			i{
				color: $base_color;
				margin-right: 8px;
			}
		}

		a{
			color: $heading_color;
			margin-right: 20px;
			@media #{$small_mobile} {
				margin-right: 10px;
			}
			&:hover{
				color: $btn_bg;
			}
		}
	}
}