.section_tittle{
  margin-bottom: 73px;

  @media #{$tab}{
    margin-bottom: 50px;
  }
  @media #{$medium_device}{
    margin-bottom: 50px;
  }

  h2{
    font-size: 46px;
    color: $heading_color;
    line-height: 1.1;
    font-weight: 700;
    position: relative;
    margin-bottom: 26px;
    @media #{$tab}{
      font-size: 30px;
      line-height: 35px;
    }
    @media #{$medium_device}{
      font-size: 35px;
      line-height: 40px;
    }
  }
  p{
    color: #777;
    font-weight: 400;
  }
}

.mb_110{
  margin-bottom: 110px;
  @media #{$small_mobile}{
    margin-bottom: 220px;
  }

}
.mt_130{
  margin-top: 130px;
  @media #{$small_mobile}{
    margin-top: 70px;
  }
  @media #{$large_mobile}{
    margin-top: 70px;
  }
  @media #{$tab_device}{
    margin-top: 70px;
  }
  @media #{$medium_device}{
    margin-top: 70px;
  }
}
.mb_130{
  margin-bottom: 130px;
  @media #{$small_mobile}{
    margin-bottom: 70px;
  }
  @media #{$large_mobile}{
    margin-bottom: 70px;
  }
  @media #{$tab_device}{
    margin-bottom: 70px;
  }
  @media #{$medium_device}{
    margin-bottom: 70px;
  }
}
.pt_100{
  padding-top: 100px;
  @media #{$small_mobile}{
    padding-top: 30px;
  }
  @media #{$large_mobile}{
    padding-top: 30px;
  }
  @media #{$tab_device}{
    padding-top: 30px;
  }
  @media #{$medium_device}{
    padding-top: 30px;
  }
}

.padding_top{
  padding-top: 140px;
  @media #{$tab}{
    padding-top: 70px;
  }
  @media #{$medium_device}{
    padding-top: 80px;
  }
}

.padding_less_40{
  margin-bottom: -50px;
}
.z_index{
  z-index: 9 !important;
  position: relative;
}

@media #{$small_mobile}{
  .container-fluid{
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media #{$extra_big_screen}{
  .container {
    max-width: 1170px;
  }
}
.section_bg{
  background-color: #f7f7f7;
}
.place_review{
  display: inline-block;
  a{
    color: #ffc962;
  }
}

@import "banner";
@import "best_services";
@import "footer";